{% extends 'base.html' %}

{% block content %}

    <br>


    <div style="width: 50%;margin: 0 auto;">

        <form action="/ic" method="POST">
          <div class="form-group">
            <label for="rc">Contribution Rate</label>
            <input type="text" class="form-control" name="rc" id="rc" value="0.25" placeholder="">
          </div>
          <div class="form-group">
            <label for="cc">Total Investment</label>
            <input type="text" class="form-control" name="cc" id="cc" value="10000" placeholder="">
          </div>
            <div class="form-group">
            <label for="l">Investment Horizon</label>
            <input type="text" class="form-control" name="l" id="l" value="12" placeholder="">
          </div>
            <div class="form-group">
            <label for="g">Annual Growth Rate</label>
            <input type="text" class="form-control" name="g" id="g" value="0.1" placeholder="">
          </div>
            <div class="form-group">
            <label for="b">Distribution Shape</label>
            <input type="text" class="form-control" name="b" id="b" value="1" placeholder="">
          </div>
            <div class="form-group">
            <label for="y">Distribution Rate</label>
            <input type="text" class="form-control" name="y" id="y" value="0.05" placeholder="">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

</div>
    <br>

{#    <img src="/media/ic.jpg" alt="">#}

    <img src="data:image/jpg;base64,{{ image_base64 }}" alt="" style="width: 100%;>
    <br>
    {{ rc }}
    {{ cc }}
    {{ l }}
    {{ g }}
    {{ b }}
    {{ y }}



{% endblock %}
